.galacenter-create-section{
	&__body{
		min-height: 100vh;
		background-image: url("../img/bg-4.png");
		background-size: 100%;
		padding: 40px 0;
		&--bg2{
			background-image: url("../img/bg-3.png");
			.galacenter-create-section__h2{
				font-family: $font1;
				font-weight: 700;
				font-size: 20px;
				line-height: 42px;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				color: #FFFFFF;
				margin: 0 0 70px;
				text-align: left;
			}
		}
	}
	&__h2{
		font-family: $font1;
		font-weight: 700;
		font-size: 20px;
		line-height: 42px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 70px;
		text-align: right;
	}
	&__figure-body{
		position: relative;
		.galacenter-create-section__figure{

		}
	}
	&__figure{
		text-align: center;
		position: relative;
		z-index: 2;
		width: fit-content;
		margin: 0 auto;
		figcaption{
			font-weight: 900;
			font-size: 20px;
			line-height: 42px;
			color: #FFFFFF;
			margin: 0 0 32px;
		}
		&--menu1{
			margin-left: 100px;
			figcaption{
				text-align: center;
			}
		}
		&--menu2{
			margin-top: -380px;
			margin-left: auto;
			margin-right: 0;
			text-align: right;
		}
		&--header1{
			position: relative;
			left: 124px;
			margin-bottom: -85px;
			z-index: 1;
		}
		&--slider1{
			margin-left: 50px;
		}
		&--slider2{
			margin-left: 0;
			margin-top: -150px;
		}
		&--slider3{
			margin-left: 60px;
			margin-top: -150px;
		}
		&--catalog{
			margin-left: 0;
		}
		&--filter{
			margin-top: -350px;
			margin-left: 650px;
		}
	}
	&__dropdown{
		margin-bottom: 70px;
	}
	@include r(767){
		&__dropdown{
			display: none;
		}
	}
}