.galacenter-create-product{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/bg-2.png");
	padding: 40px 0;
	&--cability{
		background-image: url("../img/bg-1.png");
		.galacenter-create-product__body{
			max-width: 800px;
			margin-left: 0;
		}
	}
	&__body{
		max-width: 800px;
		margin-left: auto;
	}
	&__h2{
		font-family: $font1;
		font-weight: 700;
		font-size: 20px;
		line-height: 42px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 70px 80px;
	}
	@include r(767){
		background-image: url("../img/bg-3-mobile.png");
		&--cability{
			background-image: url("../img/bg-4-mobile.png");
			.galacenter-create-product__h2{
				text-align: left;
				margin-left: 0;
			}
		}
		&__h2{
			font-size: 15px;
			line-height: 42px;
			margin-bottom: 32px;
			text-align: right;
		}
	}
}