.galacenter-create-section{
	&__body{
		min-height: 100vh;
		background-image: url("../img/bg-4.png");
		background-size: 100%;
		padding: 40px 0;
		&--bg2{
			background-image: url("../img/bg-3.png");
			.galacenter-create-section__h2{
				font-family: $font1;
				font-weight: 700;
				font-size: 20px;
				line-height: 42px;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				color: #FFFFFF;
				margin: 0 0 70px 80px;
				text-align: left;
			}
		}
	}
	&__h2{
		font-family: $font1;
		font-weight: 700;
		font-size: 20px;
		line-height: 42px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 70px;
		text-align: right;
	}
	&__figure-body{
		position: relative;
		.galacenter-create-section__figure{

		}
	}
	&__figure{
		text-align: center;
		position: relative;
		z-index: 2;
		width: fit-content;
		margin: 0 auto;
		figcaption{
			font-weight: 900;
			font-size: 20px;
			line-height: 42px;
			color: #FFFFFF;
			margin: 0 0 32px;
		}
		&--menu1{
			margin-left: 100px;
			figcaption{
				text-align: center;
			}
		}
		&--menu2{
			margin-top: -380px;
			margin-left: auto;
			margin-right: 0;
			text-align: right;
		}
		&--header1{
			position: relative;
			left: 124px;
			margin-bottom: -85px;
			z-index: 1;
		}
		&--slider1{
			margin-left: 90px;
		}
		&--slider2{
			margin-left: -45px;
			margin-top: -150px;
		}
		&--slider3{
			margin-left: 111px;
			margin-top: -142px;
		}
		&--catalog{
			margin-left: 0;
		}
		&--filter{
			margin-top: -350px;
			margin-left: 650px;
		}
	}
	&__dropdown{
		margin-bottom: 70px;
	}
	@include r(1109){
		&__figure{
			&--menu2{
				margin-top: 60px;
				margin-left: auto;
				margin-right: 0;
				text-align: right;
			}
		}
	}
	@include r(1023){
		&__figure{
			&--filter{
				margin-top: 60px;
				margin-left: 0;
			}
		}
	}
	@include r(767){
		background-image: url("../img/bg-2-mobile.png");
		background-size: cover;
		padding: 40px 0 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&__body{
			background-image: none;
			min-height: auto;
			padding: 0;
			&--bg2{
				background-image: none;
				.galacenter-create-section__h2{
					font-size: 14px;
					line-height: 25px;
					margin: 0 0 35px 35px;
					text-align: left;
				}
			}
		}
		&__h2{
			font-size: 14px;
			line-height: 25px;
			margin: 0 0 35px 35px;
			text-align: left;
			position: relative;
			padding-right: 48px;
			&:after{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				background-image: url("../img/zoom.png");
				background-size: 100%;
				background-repeat: no-repeat;
				width: 24px;
				height: 24px;
			}
		}
		&__dropdown{
			display: none;
		}
	}
}