.galacenter-create-about{
	margin: 0;
	padding: 0;
	list-style: none;
	&__item{
		position: relative;
		margin-bottom: 46px;
		padding-left: 80px;
	}
	&__icon{
		top: 0;
		left: 0;
		position: absolute;
	}
	&__name{
		font-family: $font1;
		font-style: normal;
		font-weight: 900;
		font-size: 20px;
		line-height: 42px;
		color: #FFFFFF;
	}
	&__text{
		font-family: $font1;
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 42px;
		color: #FFFFFF;
		margin: 0;
	}
	@include r(767){
		&__item{
			margin-bottom: 23px;
			padding-left: 35px;
		}
		&__icon{
			max-width: 20px;
			top: 11px;
		}
		&__name{
			font-size: 14px;
			line-height: 42px;
		}
		&__text{
			font-size: 14px;
			line-height: 42px;
		}
	}
}