.galacenter-create-footer{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background-image: url("../img/bg-2.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 40px 0;
	&__h2{
		font-family: $font1;
		font-weight: 700;
		font-size: 20px;
		line-height: 42px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 70px;
	}
	@include r(767){
		background-image: url("../img/bg-2-mobile.png");
		&__h2{
			font-size: 15px;
			line-height: 25px;
			margin: 0 0 25px;
		}
		.btn{
			display: block;
			width: fit-content;
			margin: 0 auto;
		}
	}
}