.galacenter-create-footer{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background-image: url("../img/bg-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	&__h2{
		font-family: $font1;
		font-weight: 700;
		font-size: 20px;
		line-height: 42px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 70px;
	}
}