.galacenter-create-section{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background-image: url("../img/bg-4.png");
	background-size: 100%;
	padding: 40px 0;
	&--second{

	}
	&__h2{
		font-family: $font1;
		font-weight: 700;
		font-size: 20px;
		line-height: 42px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 70px;
	}
	&__h3{
		font-family: $font1;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 42px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 41px;
	}
	&__body{
	}

	&__figure{
		margin: 0;
		figcaption{
			font-weight: 900;
			font-size: 20px;
			line-height: 42px;
			text-transform: capitalize;
			color: #FFFFFF;
			margin: 0 0 32px;
		}
	}
}