<!--настройки главной страницы -->
<div class="remodal create-site" data-remodal-id="main">
    <button data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </button>
    <div class="title">Настройки главной страницы</div>
    <div class="create-site__body">
        <img class="img-fluid" src="./img/modal-header-1.png" width="360" height="477" alt="">
    </div>
</div>

<!--Вариант шапки 1 -->
<div class="remodal create-site" data-remodal-id="header1">
    <button data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </button>
    <div class="title">Вариант шапки 1</div>
    <div class="create-site__body">
        <img class="img-fluid" src="./img/modal-header-2.png" width="340" height="143" alt="">
    </div>
</div>

<!--Вариант шапки 2 -->
<div class="remodal create-site" data-remodal-id="header2">
    <button data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </button>
    <div class="title">Вариант шапки 2</div>
    <div class="create-site__body">
        <img class="img-fluid" src="./img/modal-header-3.png" width="330" height="143" alt="">
    </div>
</div>

<!--Горизонтальное меню -->
<div class="remodal create-site" data-remodal-id="gorizont-menu">
    <button data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </button>
    <div class="title">Горизонтальное меню</div>
    <div class="create-site__body">
        <img class="img-fluid" src="./img/modal-menu-1.png" width="292" height="419" alt="">
    </div>
</div>
<!--Вертикальное меню -->
<div class="remodal create-site" data-remodal-id="vertical-menu">
    <button data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </button>
    <div class="title">Вертикальное меню</div>
    <div class="create-site__body">
        <img class="img-fluid" src="./img/modal-menu-2.png" width="292" height="422" alt="">
    </div>
</div>

<!--вариант слайдера 1 -->
<div class="remodal create-site" data-remodal-id="slider1">
    <button data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </button>
    <div class="title">вариант слайдера 1</div>
    <div class="create-site__body">
        <img class="img-fluid" src="./img/modal-slider-1.png" width="324" height="412" alt="">
    </div>
</div>

<!--вариант слайдера 2 -->
<div class="remodal create-site" data-remodal-id="slider2">
    <button data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </button>
    <div class="title">вариант слайдера 2</div>
    <div class="create-site__body">
        <img class="img-fluid" src="./img/modal-slider-2.png" width="324" height="412" alt="">
    </div>
</div>

<!--вариант слайдера 3 -->
<div class="remodal create-site" data-remodal-id="slider3">
    <button data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </button>
    <div class="title">вариант слайдера 3</div>
    <div class="create-site__body">
        <img class="img-fluid" src="./img/modal-slider-3.png" width="324" height="412" alt="">
    </div>
</div>

<!--функционал каталога -->
<div class="remodal create-site" data-remodal-id="catalog">
    <button data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </button>
    <div class="title">функционал каталога</div>
    <div class="create-site__body">
        <img class="img-fluid" src="./img/modal-catalog.png" width="318" height="405" alt="">
    </div>
</div>

<!--Фильтр -->
<div class="remodal create-site" data-remodal-id="filter">
    <button data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </button>
    <div class="title">Фильтр</div>
    <div class="create-site__body create-site__body--center">
        <img class="img-fluid" src="./img/option-filter.png" width="234" height="434" alt="">
    </div>
</div>

