@import "./mixin";
@import "./fonts";

body{
	background-color: #D2D0CF;
}
.breadcrumb{
	display: none;
}
.footer{
	margin-top: 0;
}
.btn{
	font-family: $font1;
	display: inline-block;
	font-weight: 200;
	font-size: 20px;
	line-height: 42px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: .563rem 1.4rem;
	border-radius: 0;
	cursor: pointer;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: none;
	}
	&.disabled{
		opacity: .65;
		pointer-events: none;
	}
	&.btn-outline-primary{
		color: #fff;
		background-color: transparent;
		background-image: none;
		border-color: #fff;

		&:hover {
			color: #fff;
			background-color: #000;
			border-color: #000;
		}
		&:focus {
			box-shadow: 0 0 0 0.2rem rgb(0,123,255 , 50%);
		}
	}
}
.container{
	max-width: 1240px;
	width: 100%;
}
.text-right{
	text-align: right;
}
.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}
@import "componets/galacenter-create-header";
@import "componets/galacenter-create-menu";
@import "componets/galacenter-create-about";
@import "componets/galacenter-create-product";
@import "componets/galacenter-create-section";
@import "componets/galacenter-create-advantage";
@import "componets/galacenter-create-form";
@import "componets/galacenter-create-footer";
