.remodal {
    text-align: left;
    &.create-site{
        border-radius: 0;
        max-width: 100%;
        margin-bottom: 0;
        min-height: 100%;
        background-image: url("../img/bg-2-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .remodal-close {
            right: 22px;
            top: 24px;
            left: auto;
            width: 24px;
            height: 24px;
            background-image: none;

            &:before {
                display: none;
            }
            span{
                position: absolute;
                display: block;
                width: 100%;
                background-color: #fff;
                height: 2px;
                border-radius: 5px;
                transform: rotate(45deg);
                &:nth-child(2){
                    transform: rotate(-45deg);
                }
            }
        }
        .title{
            font-weight: 900;
            font-size: 14px;
            line-height: 25px;
            color: #FFFFFF;
            margin-left: 40px;
            position: absolute;
            top: 30px;
        }
        .create-site__body{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-align: right;
            img{

            }
        }
        .create-site__body--center{
            justify-content: center;
        }
    }

    @include r(767) {

    }
}
.remodal-wrapper {
    padding: 0;
}
